.layout {
    height: 130vh;
    text-align: center;
}

.logo{
    height: auto;
    width: auto;
}
.content-row>span {
    height: 100;
}

.card-login {
    height: auto;
    margin: auto;
}

.login-form {
    display: grid;
    padding: 10 0 10 10;
}

.text-input {
    margin: 10px;
}


.cb-input {
    margin: 10px;
}

.btn-input {
    margin: 10px;
    width: 100%;
}

.cb-input {
    display: flex;
    justify-content: space-evenly;
}
.icon-row{
    justify-content: space-around;
}

.icon-col{
    color: blue;
    margin: auto 30 auto 0;
    display: block;
}

.icon-col:hover{
    color: lightblue;
    display: block;
}

.icon{
    padding: 5;
}

.bottom-row{
    margin: auto;
}
