.hover-text {
    padding-left: 5px;
    padding-right: 5px;
}

.main-icon {
    width: 85px;
    height: auto
}

.anticon-shopping-cart{
    padding: auto;
    font-size : 70px;
    color: #fff;
}

.seacch-product-menu{
    width: auto;
}