.categories-container{
    background-color: inherit;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.categories-card{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.product-item{
    height: 20vh;
}