.login{
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 10vh;
    padding: 20px;
    width: 90%;
}

.login-form-container{
    height: 80vh;
}

.login-form{
    width: 30%;
    min-width: 400px;
    max-height: 600px;
    margin: auto;
}