.login{
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: dimgrey;
}

.login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 10vh;
    padding: 1vh;
    width: 90%;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: inherit;
  opacity: 0.95;
  height: 80%;
  width: 90%;
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  &:hover {
    opacity: 1;
  }
}

.login-form-container{
    height: 88vh;
}

.login-form{
    width: 30%;
    min-width: 400px;
    margin: auto;
}

@media (max-width: 500px) {
    .form-container {
      padding: 20px;
    }

    .login-header {
      display: none;
    }

    .qr-code{
        display: none;
    }

    .login{
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    .login-form-container{
        margin: 0px;
    }

    .form-container{
        display: block;
        width: 100%;
        height: max-content;
        margin: 0px;
        justify-content: center;
    }
    .other-login-options {
      flex-direction: row;
      gap: 10px;
      margin-top: 10px;
    }

    .fb-login-button,
    .google-login-button,
    .phone-login-button {
      width: 100%;
    }
  }