.header {
    background: linear-gradient(to bottom, #f44300, #f44302, #f44304, #f44306, #f44308, #f44310);
}

.header-container {
    width: 80%;
    margin: 0 auto;
}



.search-container {
    display: flex;
    align-items: center;
}
