.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  
    .header-icon {
      font-size: 24px;
      color: #1890ff;
    }
  
    .header-search {
      flex: 1;
      margin: 0 10px;
  
      input {
        border-radius: 20px;
      }
  
      .ant-input-affix-wrapper {
        padding: 0 16px;
      }
  
      .ant-input-search-button {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  
    .header-notification {
      margin-right: 10px;
  
      .ant-badge-count {
        background-color: #f5222d;
      }
    }
  
    .header-login {
      margin-right: 10px;
  
      button {
        border-radius: 20px;
      }
    }
  
    .header-register {
      button {
        border-radius: 20px;
      }
    }
  }
  