.banner-container {

    .slick-slide img {
        padding: 2% 0;
        height: 35vh;
        width: auto;
        object-fit: fill;
        transition: opacity 0.5s ease-in-out;
        opacity: 0.5;
    }

    .slick-current img {
        padding: 3% 0;
        height: 40vh;
        width: auto;
        object-fit: fill;
        opacity: 1;
    }
    .slick-prev,
    .slick-next {
        color: black !important;
        font-size: 32px;
        &::before {
            color: black !important;
            font-size: 32px;
        }
    }

    .slick-dots {
        bottom: 10px;
        
        li {
            background-color: #999999;
            &.slick-active {
                button {
                    background-color: black;
                }
            }
        }
    }

    
}