.search-container {
    position: relative
}

.list-search {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #f6f6f6;
    border: 1px rgb(194, 241, 255) solid
}

.item-search {
    width: 100%;
    background-color: #f6f6f6;
    border: 1px rgb(194, 241, 255) solid;
    &:hover {
        background-color: #fefefe;
        cursor: pointer;
    }
}

.no-data-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 20px 0px; 
    background-color: #f6f6f6; 
    border: 1px rgb(194, 241, 255) solid

}