.top-header .anticon{
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}


.navbar-wrapper {
    display: flex;
    padding: 10px;
}

.sub-navbar-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.sub-navbar-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.sub-navbar-1 div:not(:last-child){
    border-right: 1px thistle solid;
}

.sub-navbar-1 div:last-child a{
    padding-right: 5px;
}

.sub-navbar-2 div:nth-child(4){
    border-right: 1px thistle solid;
}

.sub-navbar-1 div, .sub-navbar-2 div {
    padding: 0 10px;
}

.sub-navbar-1 div a, .sub-navbar-2 div a{
    text-decoration: none;
    color: white;
}

.dropdown-menu {
    position: absolute;
    display: none;
    
}

.hover-fade:hover .dropdown-menu {
    display: block;
    color: black;
}
